<a href="https://colab.research.google.com/github/abhishek-parashar/Reddit-flair-detection/blob/master/experiment_log_for_eda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### importing the required libraries

In [0]:
import numpy as np 
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt

## reading the file

In [0]:
data=pd.read_csv('data.csv')

In [14]:
data.head()

  sno.  ...                                  combined_features
0    0  ...  4 days ago pending orders 100 million hydroxyc...
1    1  ...  randians big time users dating apps like tinde...
2    2  ...  r india thinks flat earthershavent found india...
3    3  ...  people left 9 5 jobs pursue career music art f...
4    4  ...  somebody want kill full familycalm downgo sp o...

[5 rows x 12 columns]

looking for the data shape

In [15]:
data.shape

(267, 12)

names of columns

In [16]:
data.columns

Index(['sno.', 'flair', 'title', 'score', 'id', 'url', 'comms_num', 'body',
       'author', 'comments', 'timestamp', 'combined_features'],
      dtype='object')

dropping the unnamed column

In [11]:
data.drop('Unnamed: 0', axis=0, inplace =True)

KeyError: ignored

In [0]:
data.drop('sno.',axis=1,inplace=True)

In [18]:
data.head()

      flair  ...                                  combined_features
0  AskIndia  ...  4 days ago pending orders 100 million hydroxyc...
1  AskIndia  ...  randians big time users dating apps like tinde...
2  AskIndia  ...  r india thinks flat earthershavent found india...
3  AskIndia  ...  people left 9 5 jobs pursue career music art f...
4  AskIndia  ...  somebody want kill full familycalm downgo sp o...

[5 rows x 11 columns]

checking the data info

In [19]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 267 entries, 0 to 266
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   flair              266 non-null    object
 1   title              266 non-null    object
 2   score              266 non-null    float64
 3   id                 266 non-null    object
 4   url                266 non-null    object
 5   comms_num          266 non-null    float64
 6   body               182 non-null    object
 7   author             266 non-null    object
 8   comments           249 non-null    object
 9   timestamp          266 non-null    object
 10  combined_features  266 non-null    object
dtypes: float64(2), object(9)
memory usage: 23.1+ KB

### by this we find that body has a lot of null values. This shows that for most of the posts only the title suffice, there is no need of body. 
### plots can be made for the posts having body and no of words in such posts this would give more insights to the data. 
### second in the list which has missing values is comments. This is quite resonable as not all the posts get comments, next thing which can be checked is what is the score of the post with comments and what flair are the posts which get maximum comments.